.skip-link {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  color: #fff;
  padding: 1rem;
  z-index: 10000; // ensure it's on top of other elements
  transform: translateY(-200%);
  transition: transform 0.3s ease;
  text-decoration: none;
  pointer-events: none;
}

.skip-link:focus {
  transform: translateY(0);
  pointer-events: auto;
}
