.portrait-grid ion-img {
  border: 2px solid transparent;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  max-width: 100%;
  aspect-ratio: 1 / 1;
}

.portrait-grid ion-img:hover {
  filter: brightness(1.1);
  transform: scale(1.05);
}

.portrait-grid ion-img.selected {
  border-color: var(--ion-color-primary);
  box-shadow: 0 0 10px var(--ion-color-primary);
}
