

<a href="#main-content" class="skip-link">Skip to main content</a>

<div class="flex-page">
  <app-app-header></app-app-header>



  <ion-content class="ion-padding">
    <ion-card class="login-card" id="main-content" role="main">
      <ion-card-header>
        <ion-card-title class="login-card-title">Create Account</ion-card-title>
      </ion-card-header>

      <form (ngSubmit)="createAccount()" #registerForm="ngForm">
        <ion-list lines="none">
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input type="email" name="email" [(ngModel)]="email" required autocomplete="email" inputmode="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Password</ion-label>
            <ion-input type="password" name="password" [(ngModel)]="password" required autocomplete="new-password"></ion-input>
          </ion-item>
        </ion-list>

        <ion-button type="submit" expand="block" [disabled]="!registerForm.form.valid">
          Create Account
        </ion-button>
        <ion-text color="danger" *ngIf="error">{{ error }}</ion-text>

      </form>
    </ion-card>



    <app-app-footer></app-app-footer>
  </ion-content>

</div>
