:root {
  --ion-background-color: #000000;
  --ion-text-color: #ffed84;

  --ion-color-primary: #ffce51;
  --ion-color-primary-contrast: #000000;

  --ion-color-secondary: #4B0082;
  --ion-color-tertiary: #540202;

  --ion-color-step-50: #1a1a1a;
}
