:root {
  --ion-background-color: #000000;
  --ion-text-color: #FFD700;

  --ion-color-primary: #FFD700;
  --ion-color-primary-contrast: #000000;

  --ion-color-secondary: #4B0082;
  --ion-color-tertiary: #8B0000;

  --ion-color-step-50: #1a1a1a;
}
