ion-item[button] {
  cursor: pointer;
}

.logout-item {
  cursor: pointer;

  &:hover {
    --background: var(--ion-color-primary-tint);
    --color: var(--ion-color-primary-contrast);
  }

  &:active {
    --background: var(--ion-color-primary-shade);
  }

  ion-label {
    cursor: pointer;
  }
}
